{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Streams I own</h2>
        <form action="/delete_stream" method="post">
            <table class="table table-borders table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last New Picture</th>
                        <th>Number of Pictures</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in owned_streams %}
                        <tr>
                            <td><a href="/view/{{ stream.key.urlsafe() }}">{{ stream.stream_name }}</a></td>
                            <td>{{ stream.date_last_updated }}</td>
                            <td>{{ stream.media_item_count }}</td>
                            <td><input name="del" value="{{ stream.key.id() }}" type="checkbox" /></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <center>
                <button type="submit" class="btn btn-primary">
                    Delete Checked Streams
                </button>
            </center>
        </form>
    </div>
    
    <br>
    <br>

    <div class="container">
        <h2>Streams I subscribe to</h2>
        <form action="/unsub_stream" method="post">
        <table class="table table-borders table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last New Picture</th>
                    <th>Number of Pictures</th>
                    <th>Views</th>
                    <th>Unsubscribe</th>
                </tr>
            </thead>
            <tbody>
                {% for stream in subscribed_streams %}
                    <tr>
                        <td><a href="/view/{{ stream.key.urlsafe() }}">{{ stream.stream_name }}</a></td>
                        <td>{{ stream.date_last_updated }}</td>
                        <td>{{ stream.media_item_count }}</td>
                        <td>{{ stream.views }}</td>
                        <td><input name="unsubscribe" value="{{ stream.key.id() }}" type="checkbox" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <button type="submit"method="post" class="btn btn-primary">
                Unsubscribe Checked Streams
            </button>
        </center>
        </form>
    </div>
{% endblock %}


