{% extends "base.html" %}

{% block content %}
    <h2>Streams I own</h2>
    <form action="/delete_stream" method="post">
    <table class="table table-borders">
        <tr>
            <th>Name</th>
            <th>Last New Picture</th>
            <th>Number of Pictures</th>
            <th>Delete</th>
        {% for stream in owned_streams %}
            <tr>
                <td>{{ stream.stream_name }}</td>
                <td>{{ stream.date_last_updated }}</td>
                <td>{{ stream.media_item_count }}</td>
                <td><input name="del" value="{{ stream.key.id() }}" type="checkbox" /></td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">
        Delete Checked Streams
    </button>
    </form>
    
    <br>
    <br>

    <h2>Streams I subscribe to</h2>
    <table class="table table-borders">
        <tr>
            <th>Name</th>
            <th>Last New Picture</th>
            <th>Number of Pictures</th>
            <th>Views</th>
            <th>Unsubscribe</th>
        {% for stream in subscribed_streams %}
            <tr>
                <td>{{ stream.stream_name }}</td>
                <td>{{ stream.date_last_updated }}</td>
                <td>{{ stream.media_item_count }}</td>
                <td>{{ stream.views }}</td>
                <td><input name="unsubscribe" id={stream.key} type="checkbox" /></td>
            </tr>
        {% endfor %}
    </table>
    <button type="button" action="/STUB_url" method="post">
        Unsubscribe Checked Streams
    </button>
{% endblock %}


