{% extends "base.html" %}

{% block content %}
    <h1>{{ query }}</h1>
    <p>{{ param }}</p>
    <form action="/search" method="get">
        <input type="text" name="query">
        <br>
        <button type="submit">
            Search
        </button>
    </form>
    <br>
    {% if query != "" %}
        <p>
            {{ results_length }} results for <b>{{ query }}</b>,
            <br>
            click on an image to view stream
        </p>
    {% endif %}
    <div class="search-results">
        {% for stream in search_results %}
            <div class="col-3">
                <div class="stream-logo">
                    <a href="/view/{{ stream.key.urlsafe() }}">
                        <img class="stream-logo-img" src="{{ stream.cover_image }}" alt="" >
                        <p class="stream-logo-text">{{ stream.stream_name }}</p> 
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
 {% endblock %}


