{% extends "base.html" %}

{% block content %}

<head>
    <style type="text/css">
        .tblX { width: 100%; min-width:480px; max-width:960px}
        .col1 { width: 25%; min-width:48px; max-width:96px}
        .col2 { width: 25%; min-width:48px; max-width:96px}
    </style>
</head>
<h3>Top 3 trending streams</h3>

<table class="tblX" id="streams">
  <tr>
        {% for stream in streams %}
        <td class="col1" style="padding-left:10px">
          <a href="/view_single?stream_id={{stream.stream_name}}">
            <img src="{{stream.cover_image}}" style="max-height:100%; max-width:100%"/>
          </a>
          <h3>{{ stream.stream_name }}</h3>
          {% if stream.views %}
          <p>{{stream.views}} views in past hour</p>
          {% endif %}
        </td>
        {% endfor %}

    <td class="col2" style="padding-left:30px">
      <form action="/trending" method="post">
        <input type="radio" name="rate" value="0" {{ checked[0] }}>No reports<br>
        <input type="radio" name="rate" value="5" {{ checked[1] }}>Every 5 minutes<br>
        <input type="radio" name="rate" value="60" {{ checked[2] }}>Every 1 hour<br>
        <input type="radio" name="rate" value="1440" {{ checked[3] }}>Every day<br>
        <p>
          <input type="submit" value="Update Rate">
        </p>
      </form>
    </td>
  </tr>
</table>

{% endblock %}