{% extends "base.html" %}

{% block content %}

<head>
    <style type="text/css">
        .tbl { width: 100%; min-width:480px; max-width:960px}
        .col1 { width: 25%; min-width:48px; max-width:96px}
        .col2 { width: 25%; min-width:48px; max-width:96px}
    </style>
</head>
<h3>Top 3 trending streams</h3>

  <div class="row">
        {% for stream in top_streams %}
        <div class="col-3">
          <div class="stream-logo">
              <a href="/view/{{ stream.key.urlsafe() }}">
                  <img class="stream-logo-img" src="{{ stream.cover_image }}" alt="" >
                  <p class="stream-logo-text">{{ stream.stream_name }}</p> 
              </a>
          </div>
          <h3>{{ stream.stream_name }}</h3>
          <p>{{ stream.recent_views|length }} views in past hour</p>
        </div>
        {% endfor %}

    <div class="col-3" >
      <form action="/trending" method="post">
        <input type="radio" name="rate" value="0" {{ checked[0] }}>No reports<br>
        <input type="radio" name="rate" value="5" {{ checked[1] }}>Every 5 minutes<br>
        <input type="radio" name="rate" value="60" {{ checked[2] }}>Every 1 hour<br>
        <input type="radio" name="rate" value="1440" {{ checked[3] }}>Every day<br>
        <h5>Email trending report</h5>
        <p>
          <input type="submit" value="Update Rate">
        </p>
      </form>
    </div>
  </div>

{% endblock %}
