{% extends "base.html" %}

{% block content %}
    
    {% for item in media_items %}
        <img class="media-inline" src={item.content}> 
    {% endfor %}
    <br>
    <div class="file-input-box">
        <form action="/post_media/{{ stream_key }}" method="POST" enctype="multipart/form-data">
            Upload File: <input type="file" name="file"><br>
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>
    <form action="/sub_stream/{{ stream_key }}" method="post">
        <button type="submit" method="post">
            Subscribe
        </button>
    </form>
{% endblock %}


