{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function(){
        let len = {{ length }};
        visible = 0;
        //$(".media-inline").hide()
        for (var x = 0; x < len; x++) {
            if (x > 2) {
                $("#media-"+x).hide()
            }
        }

        $("#update-visible").click(function(){
            let hidePosition;
            let showPostition;
            let offset = 0;
            for (var x = 0; x < 3; x++) {
                hidePosition = (visible + x) % len;
                showPosition = (visible + 3 + x) % len;
                $("#media-"+hidePosition).hide();
                if (showPosition < hidePosition) {
                    offset = offset + 1;
                } else {
                    $("#media-"+showPosition).show();
                }
            }
            visible = ((visible + 3) % len) - offset;
        });
    });

</script>
{% endblock %}

{% block content %}

    <div class="container" style="border: 3px solid #000000;">
        <div class="row">
            <div class="col-9">
                {% for i in range(0,length) %}
                    <div class="col-3">
                        <div class="stream-logo">
                            <img class="stream-logo-img" id="media-{{ i }}" src="{{media_items[i].content_url}}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3">
                <button id="update-visible">More Pictures</button>
            </div>
        </div>
    </div>
    <br>
    <div class="file-input-box container" style="border: 3px solid #000000;">
        <form action="/post_media/{{ stream_key }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <input type="file" name="uploadImage" accept="image/*"><br><br>
                    <input type="submit" name="submit" value="Upload file">
                </div>

                <div class="col-6">
                    <input type="text" name="uploadComment" placeholder="Comment"><br><br>
                    <h3>Add an image</h3>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container" style="border: 3px solid #000000;">
        <form action="/sub_stream/{{ stream_key }}" method="post">
            <div class="col-6">
                <button type="submit" style="padding: auto;"> Subscribe </button><br><br>
            </div>
        </form>
    </div>
{% endblock %}


