{% extends "base.html" %}

{% block content %}

    <h2>View All Streams</h2>    
    <div class="row">
        {% for stream in streams %}
            <div class="col-3">
                <div class="stream-logo">
                    <a href="/view/{{ stream.key.urlsafe() }}">
                        <img class="stream-logo-img" src="{{ stream.cover_image }}" alt="" >
                        <p class="stream-logo-text">{{ stream.stream_name }}</p> 
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}


