{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function(){
        let len = {{ length }};
        visible = 0;
        //$(".media-inline").hide()
        for (var x = 0; x < len; x++) {
            if (x > 2) {
                $("#media-"+x).hide()
            }
        }

        $("#update-visible").click(function(){
            let hidePosition;
            let showPostition;
            let offset = 0;
            for (var x = 0; x < 3; x++) {
                hidePosition = (visible + x) % len;
                showPosition = (visible + 3 + x) % len;
                $("#media-"+hidePosition).hide();
                if (showPosition < hidePosition) {
                    offset = offset + 1;
                } else {
                    $("#media-"+showPosition).show();
                }
            }
            visible = ((visible + 3) % len) - offset;
        });
    });

</script>
<script src="/bootstrap/js/dropzone.js"></script>
<link rel="stylesheet" href="/bootstrap/css/dropzone.css">
{% endblock %}

{% block content %}

    <div class="container">
        <form action="/sub_stream/{{ stream_key }}" method="post">
            <div class="col-12">
                <center>
                    <a>
                        <button type="submit" class="btn btn-primary"> Subscribe </button>
                        <a style="color:red;">{{auth_status_message}}</a>
                    </a>
                </center>
            </div>
        </form>
    </div>
    <br>

    <div class="container">
        <div class="row" style="overflow: auto; height:200px;">
            <div class="col-9">
                <div class="row">
                    {% for i in range(0,length) %}
                        <div id="media-{{ i }}" class="col-3">
                             <img class="stream-logo-img-inline" src="{{media_items[i].content_url }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <button id="update-visible" class="btn btn-primary">More Pictures</button>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <h3>Add/Drop an image</h3><br>
        <form action="/post_media/{{ stream_key }}" class="dropzone"></form>
    </div>
{% endblock %}


